h1{
    background-color: brown;

}
.group1{

    background-color: aqua
    ;
}
.group2{
    background-color: blue
    ;
}
.id1{
    background-color: blueviolet
    ;
}
.id2{
    background-color: burlywood
    ;
}